@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .container {
    max-width: 1248px;
  }
  .gradient {
    @apply absolute inset-0 aspect-square;
    &-white {
      @apply bg-base-100;
    }
  }
  .section-path {
    clip-path: polygon(100% 30%, 100% 70%, 0 100%, 0 0);
  }
  .glass {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.775);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(9.7px);
    border: 1px solid rgba(255, 255, 255, 0.38);
  }
}
